/* add your styles here */
body{
  display: flex;
  justify-content: center;
  text-align: center;
}
.body{
  display: grid;
  grid-template-columns: repeat(2,400px);
  grid-gap: 20px;
}

img{
  width: 100%;

}